<html lang="en">
<head>
    <%- include('../partials/_header') %>
    <link rel="stylesheet" href="../css/home.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Passwordist</title>
</head>
<body>
    <navbar style="margin-left: 10px;">
        <a href="/"><img class="logo"src="../img/LOGO.png" alt="Logo"></a>
        <ul class="navbarlist">
            <li class="dropdown dropdown-2">
                SERVICES
                <ul class="dropdown_menu dropdown_menu-2">
                  <li class="dropdown_item-1" ><a href="/generatepassword">Generate Password</a></li>
                </ul>
              </li>
           <li class="list" style="margin-left: 100px;"><a onclick="reveal()"href="#features">Features</a></li>
           <li class="list"><a href="">CONTACT US</a></li>
           <li class="list" id="listelement"><a href="">INFO</a></li> 
        </ul>
        <a href="/login"><button class="login" id="login-button">LOGIN</button></a>
    </navbar>

    <div class="wrapper">
        <div class="static-txt">Passwordist is</div>
        <ul class="dynamic-txts">
          <li><span>SAFE.</span></li>
          <li><span>SECURE.</span></li>
          <li><span>RELIABLE.</span></li>
        </ul>
    </div>
      
    <object data="../img/HomeImage1.svg" class="HomeImage" margin-top="-10px" width="500" height="500"> </object>
    <p id="features" style="margin-left: 8%; font-size: 16px; font-weight: 570;">Tired of forgetting and resetting your passwords?<br>
        No worries, we got your back!</p>
    <div class="formbg" id="signupborder">
        <div style="justify-content: center;" class="formheader"><p style="margin-top: 10px;">SIGN UP</p></div>
        <form id="reg-form" action="/" method="post">
            <input type="text" class="textbox" id="username" placeholder="Username" name="username" required><br><br>
            <input type="text" class="textbox"  id="email" style="top: 40%;" placeholder="Email" name="email" required><br><br>
            <input type="submit" class="SIGNUP" id="submit" value="SIGN UP" onclick=""><br><br>
        </form>
    </div>
    <div class="contain reveal" >
    <div class="container" >
        <img  class="featimg" src="../img/HomeImage2.jpg" alt="">
        <h1 class="feat-title">Say Goodbye to Password Fuss</h1>
        <p class="feat-words">Passwordist helps manage all your passwords so you won’t have to. Sign in with your master password to access passwords to all your accounts be it digital or not.</p>
        </div>
    </div>
    <div class="contain reveal">
    <div class="container-2">
        <img class="featimgright" src="../img/HomeImage3.jpg" alt="">
        <h1 class="feat-title-left">Keep your Data Secure</h1>
        <p class="feat-words-left">Easily create unique, complex passwords for all your logins and keep them locked securely in our encrypted vault.</p>  
    </div>
    </div>
    <div class="contain reveal">
    <div class="container">
        <img  class="featimg" src="../img/GIF.gif" alt="">
        <h1 class="feat-title">Too many accounts?</h1>
        <p class="feat-words">Passwordist lets you manage your passwords, notes, addresses, bank accounts, credit cards all in one place!</p>
    </div>
    </div>
    <div class="contain reveal">
    <div class="band">
        <div class="footer">
            <strong style="font-weight: 700; font-size: 35.72px;">TRY PASSWORDIST TODAY</strong>
            <h3 style="color: rgba(0, 0, 0, 0.6); font-size: 17.86px;">Click below to simplify your digitial life for free </h3>
        </div>
        <button class="bottomsignup" onclick = "scrollToTop()">SIGN UP</button>
        <div class="bottomlinks">
            <div style="display: flex;">
                <img style = "width: 20px; height: 20px; margin-right: 10px;"src="../img/InstagramLogo.svg">
                <a style="margin-right: 10px;" href="">Instagram</a>
            </div>
            <div style="display: flex;">
                <img style = "width: 20px; height: 20px; margin-right: 10px;"src="../img/TwitterLogo.png">
                <a style="margin-right: 20px;" href="">Twitter</a>
            </div>
                <a style="margin-right: 10px;" href="">FAQ</a>
        </div>
    </div>
<script>
    let status = '<%=loggedin%>'
    let message = '<%=message%>'
    let title = '<%-title%>'
    let icon = '<%-icon%>'
    let confirmButtonText = '<%-confirmButtonText%>'
    if(message !== ""){
        Swal.fire({
            title: title,
            text: message,
            icon: icon,
            confirmButtonText: confirmButtonText
        }) 
    }
    if(status === "true"){
        document.getElementById("login-button").innerHTML = "Vault"
        document.getElementById("login-button").href = "/vault"
        document.getElementById("listelement").innerHTML = "Hello <%= username%>"
    }
    function scrollToTop(){
            window.scrollTo({top: 0, behavior: 'smooth'});
            element = document.getElementById('signupborder');
            let defaultBG = element.style.boxShadow;
            let defaultTransition =  "all 1s ease-in-out";

            element.style.transition = "all 1s ease-in-out";
            element.style.boxShadow = "7.44255px 14.8851px 65.4944px 22.3276px rgba(22, 63, 175, 0.7)";

            setTimeout(function()
            {
                element.style.boxShadow = defaultBG;
                setTimeout(function() {
                    element.style.transition =  defaultTransition;
                }, 1500);
            }, 1500);
        }
    function smoothscroll(element){
            element.scrollIntoView({
                behavior: 'smooth',
                block: 'start' // scroll to top of target element
            })
        }
    function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                reveals[i].classList.add("active");
                } else {
                reveals[i].classList.remove("active");
                }
            }
        }
    window.addEventListener("scroll", reveal);
</script>
</div>
</body>
</html>